<div class="center">
    <p><strong><%= @user.name %> To-Do's
      <strong class="pull-right">Complete item</strong>
    </p></strong><br/>
    <%= render 'items/item' %>
</div>
<%= render 'items/form', item: Item.new, user: @user %>
